.footer {
  overflow: hidden;
  background-color: #eeeeeee1;
  padding: 11px 125px;
  margin: 0px 16px 0px 16px;
  color: black;
  text-align: center;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 300px) {
  .footer {
    display: flex;
  }
}