.footer {
  overflow: hidden;
  background-color: #eeeeeee1;
  padding: 11px 125px;
  margin: 0px 16px 0px 16px;
  color: black;
  text-align: center;
}

@media screen and (max-width: 300px) {
  .footer {
    display: flex;
  }
}