.pagination-btn{
    background-color: white;
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}

.pagination-btn:hover, .pagination-btn:active {
    background-color: rgb(44, 42, 42);
}