*{
  font-family: sans-serif;
}

.header {
    overflow: hidden;
    background-color: #312f30e1;
    padding: 11px 125px;
    color: white;
    margin: 0px 16px 0px 16px;
  }
  
  @media screen and (max-width: 300px) {
    .header {
      display: flex;
    }
  }